.itemImg{
    width: 6rem;
    height: 6rem;
    object-fit: contain;
}
.mainBlock{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.itemImgBlock{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.itemCode{
    font-size: 0.8rem;
    color: #737373;
}
.listItem{
    display: flex !important;
    align-items: center;
    justify-content: space-around;
}
.actionsBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 12%;
}
.actionsDeleteBtn{
    font-size: 0.8rem;
    color: #d50000;
    cursor: pointer;
}
.actionsDeleteBtn:hover{
    text-decoration: underline;
}
.itemName{
    font-size: 1rem;
    width: 40%;
}
.itemPrice{
    word-break: keep-all;
    white-space: nowrap;
    width: 25%;
    text-align: right;
}
.itemMainPrice{
    word-break: keep-all;
    white-space: nowrap;
    text-align: center;
}
.countDecrementBtn{
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    width: 2rem;
}
.countIncrementBtn{
    cursor: pointer;
    width: 2rem;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
.changeCountAction{
    white-space: nowrap !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    min-width: 100px;
    max-width: 106px;
}
input[type='number'] {
    text-align: center;
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.cartSubmitBlock{
    margin-bottom: 2rem;
    height: fit-content !important ;

}
.cartDeliveryBody{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.amountBlock{
    font-size: 1rem;
}
.amount{
    font-weight: bolder;
}
.infoBlock{
    display: flex;
    justify-content: center;
    text-align: center;
}
.addNewAddress{
    color: #0031ff;
    text-decoration: none ;
}
.addNewAddress:hover{
    text-decoration: underline;
    cursor: pointer;
}
.cartCountBlock{
    display: flex;
    justify-content: space-between;
}
.cartBlock{
    display: flex;
}
.cartList{
    display: flex;
    flex-direction: column;
}
.finishCartBlock{
    display: flex !important;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.finishItemName{
    width: 50%;
}
.finishCartList{
    height: 40vh;
    overflow-y:auto;
}
.finishPricesBlock{
    margin-left: auto;
    text-align: right;
    width: fit-content;
    line-height: 1rem;
}
.finishPricesBlock:first-child{
    font-size: 5px !important;
}
.addressItem{
    display: flex !important;
    justify-content: space-between;
    cursor: pointer;
}
.deleteBtn{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
.wrapper_spinner{
    height: 150px;
    width: 100%;
    position: relative;
}
.spinner{
    height: 45px;
    width: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
}
@media(max-width:630px){
    .addressItem{
        font-size: small;
    }
    .itemName{
        font-size: 1rem;
        width: 40%;
        padding-right: 10px;
    }
}