.changeAddress{
    color: #0031ff;
    text-decoration: none ;
}
.changeAddress:hover{
    text-decoration: underline;
    cursor: pointer;
}
.controlPanel{
    position: absolute;
    background-color: white;
    border-radius:8px;
    margin: 0.2rem 0 0 0.2rem;
    padding: 0.5rem ;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.itemImgMore{
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}
.itemImgBlockMore{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}
.itemInfoMore{
    width: 50% !important;
    font-size: 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.itemBlockMore{
    display: flex !important;
    align-items: center;
    justify-content: space-between;

}
