.search-btn{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.navbar-brand{
    cursor: pointer;
    display: flex;
    gap: 24px;
    align-items: center !important;
    margin-left: 20px;
}
.sidebar-button{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    gap: 5px;
}
.rightNavbar{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-buttons{
    display: flex;
    gap: 1rem;
    margin-right: 20px;
}
.exit-button{
    color: red !important;
}
.cart-button{
    display: flex !important;
    align-items: center;
    gap: 0.5rem;
}
.additionalNavBlock{
    padding: 0 !important;
    margin: 0 auto;
    max-width: 77.5%;
}
.chosenCity{
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.8rem;
    text-decoration: unset;
}
.input-group{
    width: 300px;
    float: left;
}
.search_btn{
    margin-right: 20px;
}

@media(max-width:610px){
    .group_btn_header{
        display: grid;
        grid-template-columns: 100%;
    }
    .search_btn{
        width: 100%;
    }
    .cart-button{
        margin-top: 10px;
    }
    .btn_profile_header{
        margin-top: 10px;
    }
    .nav-buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-brand{
        margin-left: 2px;
    }
    .nav-buttons{
        margin-right: 2px;
    }
}