.header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'PT Sans';
}
.Navbar{
    height: 70px;
}
.main_logo_div_smallV2{
    font-size: xx-large;
    cursor: pointer;
    @media(max-width: 800px){
        font-size: x-large;
    }
}
.dekstop{
    @media(max-width: 630px){
        display: none;
    }
}
.mobile{
    display: none;
    @media(max-width: 630px){
        display: block;
    }
}
.header_wrapper{
    width: 90%;
    border-bottom: 1px  #943AA3;
    display: grid;
    grid-template-columns: 305px auto;
    border-bottom: 3px solid #943AA3;

    @media(max-width: 800px){
        grid-template-columns: 255px auto;
    }
    @media(max-width: 630px){
        grid-template-columns: 135px auto;
    }
}

.block_width_navigation{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'PT Sans';
    font-weight: 700 !important;
}
.nav_store{
    cursor: pointer;
}
.icon{
    height: 20px;
    width: 20px;
}
.icon_calendar{
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon_busket{
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}