.header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'PT Sans';
}
.Navbar{
    height: 40px;
}
.main_logo_div_smallV2{
    font-size: x-large;
}
.header_wrapper{
    width: 90%;
    border-bottom: 1px solid #943AA3;
    display: grid;
    grid-template-columns: 255px auto;
}

.block_width_navigation{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'PT Sans';
    font-weight: 700 !important;
}
.nav_store{
    cursor: pointer;
}
.icon{
    height: 20px;
    width: 20px;
}
.icon_calendar{
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}