.mainBlock{
    margin-top:1rem ;
}
.itemCard{
    border: 0;
    margin-top: 1rem;
}
.item{
    max-width: 270px;
    width: 270px;
    min-width: 270px;
    cursor: pointer;
}
.searchNull{
   margin: 0 auto;
}
.itemImg{
    min-width: 100%;
    height: 150px;
    object-fit: contain;
}
.itemTitle{
    text-align: center;
    overflow:hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 1rem !important;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;

}
.itemBlock{
    /*display: flex;*/
    /*gap: 1rem;*/
    /*justify-content: flex-start;*/
    /*width: fit-content;*/
    /*flex-wrap: wrap;*/
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.itemFooter{
    padding: 0;
}
.cartBtn{
    width: 100%;
}