.itemImg{
    width: 8rem;
    max-height: 150px;
    object-fit: contain;
}

.imgVarsBlock{
    display: flex;
    flex-direction: column;
}
.imgBlock{
    display: flex;

}
.mainImg{
    object-fit: contain;
    max-width: 30rem;
    max-height: 300px;
}
.imgVars{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.infoBlock{
    width: 45%;
    min-height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 5rem 0;

}
.mainBlocks{
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    min-height: 50vh;
}
.itemCode{
    color: #737373;
}
.buyBlock{
    display: flex;
    justify-content: space-between;
}
.description{
    color: #3f3f3f;
}
.contentBlock{
    margin-top: 1rem;
    border-top: 0 !important;
}
