.orderId{
    font-weight: bold;
}
.imgBlock{
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
}
.orderImg{
    width:3rem;
    object-fit: contain;
}
.mainOrderBlock{
    width:30%;

}
.infoBlock{
    width:30%;
    display: flex;
    flex-direction: column;
}
.orderItem{
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: pointer;
}
.secondOrderBlock{
    width:30%;
}
.orderStatus{
    float: right;
}
.div_widthout_orders{
    min-height: 75vh;
    position: relative;
}
.Spinner_orderlistPage{
    height: 45px;
    width: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
}
@media(max-width:450px){
    .orderItem{
        display: flex !important;
        flex-wrap: nowrap;
        justify-content: space-between;
        cursor: pointer;
        padding: 0.2rem 0.3rem;
    }
    .orderStatus{
        font-size: x-small;
        /* max-width: 100px; */
        white-space: pre-line;
    }
}