.orderId{
    font-weight: bold;
}
.imgBlock{
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
}
.orderImg{
    width:3rem;
    object-fit: contain;
}
.mainOrderBlock{
    width:30%;

}
.infoBlock{
    width:30%
}
.orderItem{
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: pointer;
}
.secondOrderBlock{
    width:30%;
}
.orderStatus{
    float: right;
}