@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -45px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;

}
.carousel-control-prev-icon{
  position: absolute;
  left: -50px;
  height: 50px;
  width: 50px;
  background-size: 100%, 100%;
  @media(max-width:630px){
    display: none;
  }  
}
.carousel-control-next-icon {
    position: absolute;
    right: -50px;
    height: 50px;
    width: 50px;
    background-size: 100%, 100%;
    filter: unset;
    @media(max-width:630px){
      display: none;
    }
}
.carousel-control-next{
  overflow-x: hidden;
}
.carousel-control-prev{
  overflow-x: hidden;
}
.custom_inputMask{
  background: #474747;
  color: white;
  outline: none;
  border-style: none;
  text-align: center;
}
.btn_registration{
  background: #943AA3;
  color: white;
  outline: none;
  border-style: none;
  text-align: center; 
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #474747;
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px #474747 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.sms-input{
  width: 100% !important;
  border: 1px solid #BDBDBD;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  text-align: center;
  color: #BDBDBD;
  font-size: 30px;
}
.loading{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner_app{
  height: 50%;
  width: 50%;

  @media(min-width: 1400px){
    height: 40%;
    width: 40%;
  }
  @media(max-width: 530px){
    height: 60%;
    width: 60%;
  }
}
.wrapper{
  margin-bottom: 20px;
}
*::-webkit-scrollbar {
  width: 6px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* цвет дорожки */
  border-radius: 25px;
}
*::-webkit-scrollbar-thumb {
  background-color: #b8e5ff; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 3px solid #b8e5ff; /* padding вокруг плашки */
}
.main_nav_button .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(170, 50, 160)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// geocoder
@media screen and (min-width: 640px){
  .mapboxgl-ctrl-geocoder{
    margin-top: 20px;
    max-width: 100% !important;
    width: 100% !important;
    font-size: small !important;
  }
}
