*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.wrapper{
  margin: 0 auto;
  max-width: 80%;
}

@media(max-width:630px){
  .wrapper{
    max-width: 98%;
  }
  .card-body{
    padding: 0.5rem 0.5rem;
  }
}
@media(max-width:400px){
  .list-group-item{
    padding: 0.5rem 0rem;
    padding-right: 1.4rem;
  }
}
.dropdown-menu[data-bs-popper] {
  left: -1.5rem;
}
.spinner_fallback{
  height: 45px;
  width: 45px;
}
.async_loading{
  min-height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}