.address{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address_wrapper{
    height: 100%;
    width: 90%;
    min-height: 87vh;
    margin-top: 20px;
}