.mainBlock{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBlock_wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    width: 90%;
    min-height: 80vh;

    @media(max-width: 630px){
        margin-bottom: 40px;
    }
}



// block advertising

.advertising{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advertising_wrapper{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
}
.carouse_custom_wrapper{
    width: 100%;
    height: 100%;
    max-width: 1000px;
}
.slides{
    height: 300px;
    width: 100%;
    max-width: 1000px;
    img{
        max-height: 300px;
        max-width: 1000px;
        background-size: contain;
        background-repeat: no-repeat;
        @media(max-width: 630px){
            background-size: contain;
            min-height: 300px;
        }
    }
}

.category_title{
    margin-top: 50px;
    font-size: xx-large;
}
// end block advertising
// start block category
.category{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.category_wrapper{
    min-height: 300px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
    row-gap: 20px;
    @media(max-width: 1000px){
        grid-template-columns: 48% 48%;
        column-gap: 4%;
    }
    @media(max-width: 700px){
        grid-template-columns: 100%;
        column-gap: 0px;
        row-gap: 40px;
    }
    @media(min-width: 1300px){
        grid-template-columns: 24% 24% 24% 24%;
        column-gap: 1.333%;
    }
    @media(min-width: 1600px){
        grid-template-columns: 19% 19% 19% 19% 19%;
        column-gap: 1.25%;
    }
}
// end block category
// block cart
.cart{
    margin-top: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_wrapper{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.category_img{
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}
.title_category{
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: larger;
}
// end block cart