.mainBlock{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBlock_wrapper{
    margin-top: 20px;
    height: 100%;
    width: 90%;
    min-height: 85vh;
}
