.orders{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orders_wrapper{
    width: 90%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 79% 20%;
    column-gap: 1%;
    @media(max-width: 1400px){
        grid-template-columns: 75% 23%;
        column-gap: 2%;
    }
}
.title_order{
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.order_address_title{
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.cart_orders_store_name{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    input{
        margin-right: 8px;
        background-color: #f84748;
        height: 17px;
        width: 17px;
        cursor: pointer;
        opacity: 0.8;
        transition: all linear 0.26s;
        &:hover{
            opacity: 1;
        }
    }
    span{
        font-family: 'Montserrat', sans-serif;
    }
}

// start  cart_orders
.cart_orders{
    margin-bottom: 30px;
    height: fit-content;
    width: 100%;
}
.cart_orders_wrapper{
    height: 100%;
    width: 100%;
    min-height: 200px;
    transition: all linear 0.3s;
    opacity: 0.7;
    &:hover{
        opacity: 1;
    }
}
.active_order{
    opacity: 1 !important;
}

.orders_send{
}
.orders_send_wrapper{
    @media(min-width: 1500px){
        max-width: 280px !important;
    }
    @media(min-width: 1200px){
        box-shadow: 0px 0px 5px rgb(190, 190, 190);
        position: fixed;
        border-radius: 10px;
        top: 115px;
        right: 5%;
        width: 100%;
        max-width: 265px;
        height: 280px;
    }
}
.orders_block{
    height: 100%;
    width: 100%;
    padding: 10px;
    position: relative;
}
.orders_send_btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, 0);
    background: #f84748;
    padding: 5px;
    color: white;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}
.orders_send_title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: xx-large;
}
.orders_info{
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 0px 5px rgb(209, 209, 209);
    border-radius: 10px;
}
.block_inform{
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
}
.order_address_user{
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 0px 5px rgb(209, 209, 209);
    border-radius: 10px;
    margin-bottom: 20px;
}
.cart_orders_info{
    height: 100%;
    width: 100%;
    min-height: 175px;
    padding-left: 20px;
    overflow-y: scroll;
    cursor: default;
}
.current_order{
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}
.current_order_wrapper{
    height: fit-content;
    width: 100%;
    position: relative;
    display: flex;
}
.current_order_img{
    height: 75px;
    width: 75px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}
.current_order_group{
    margin-left: 10px;

}
.current_order_discount_price{
    text-decoration: line-through;
    color: #f84748;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
}
.current_order_price{
    margin-top: -7px;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}
.group_cost{
    position: absolute;
    top: 0px;
    right: 0px;
}
.orders_send_price{
    display: flex;
    justify-content: space-between;
    width: 93%;
    position: absolute;
    bottom: 60px;
    div{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
}
.order_address_info{
    position: relative;
    height: fit-content;
    height: 50px;
    width: 100%;
}
.order_address_btn{
    position: absolute;
    right: 20px;
    top: 20%;
    transform: translate(0, -50%);
    color: #137b9e;
    opacity: 0.8;
    transition: all linear 0.3s;
    letter-spacing: 0.1px;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}
// end start cart_orders

// modal address
.address_added{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #2c2c2c , $alpha: 0.7)
}
.address_added_wrapper{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
    border-radius: 10px;
    min-width: 550px;
    max-width: 550px;
    min-height: 350px;
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 999;
    background: white;
    padding: 20px;
    animation: zooming alternate 1.2s ease-in-out;
    
}   
@keyframes zooming {
    0%{
        min-width: 400px;
        min-height: 250px;
        opacity: 0.5;
    }
    100%{
        min-width: 550px;
        min-height: 350px;
        opacity: 1;
    }
}
.close_btn{
    font-size: 25px;
    color: #f84748;
    position: absolute;
    top: -5px;
    right: -1px;
    opacity: 0.8;
    transition: all linear 0.3s;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}
.address_added_title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: large;
}
.continue_btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, 0);
    background: #f84748;
    padding: 5px;
    color: white;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.85;
    transition: all linear 0.25s;
    &:hover{
        opacity: 1;
    }
}
.label_address{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: medium;
    margin-top: 20px;
}
.label_personal_info{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: medium;
    margin-top: 20px;
}
.input_name{
    margin-top: 5px;
    border: 0px;
    box-shadow: 0px 0px 15px rgb(226, 226, 226);
    border-radius: 3px;
    font-size: small;
    padding: 6px;
    padding-left: 10px;
    cursor: pointer;
    width: 100%;
    transition: all linear 0.25s;
    &:hover{
        box-shadow: 0px 0px 2px #909;
    }
    &:focus{
        box-shadow: 0px 0px 3px #909;
        outline: 0px;
    }
}
.example_name{
    position: absolute;
    bottom: -19px;
    font-size: 12px;
    color: #929292;
    left: 10px;
}
.block_group_name{
    position: relative;
}
// placeholder
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909 !important; 
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #909 !important;
}
::placeholder { /* Most modern browsers support this now. */
   color:    #909 !important;
}
// end modal address