.controlPanel{
    position: absolute;
    background-color: white;
    border-radius:8px;
    margin: 0.2rem 0 0 0.2rem;
    padding: 0.5rem ;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}