.successImg{
    width:50px;
    margin: 0 auto;
}
.successBlock{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.link{
    color: #0031ff;
}
.link:hover{
    color: #0031ff;
    text-decoration: underline;
    cursor: pointer;
}